<h2>
  <%= @user.username %>
</h2>

<div>
  <div>
    aka:
    <strong>
      <%= @user.name %>
    </strong>
  </div>

  <div>
    <%= @user.credential.email %>
  </div>
</div>


<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>

<%= form_for @conn, Routes.session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
  <%= submit "logout" %>
<% end %>
