<h2>
  <%= @question.text %>
</h2>

<div>
  <span><%= link "Edit", to: Routes.question_path(@conn, :edit, @question) %></span> |
  <span><%= link "Back", to: Routes.question_path(@conn, :index) %></span>
</div>

<div class="pre">
  <%= @question.answer %>
</div>
