/* This file is for your main application css. */

@import "./phoenix.css";

.pre {
  white-space: pre-wrap;
}

.tall-textarea {
  height: 500px;
}

body, header, input, textarea {
  background: #2b272f;
  color: #e6c2de;
}

header {
  background: #3d3942;
  border: 0;
}

header ul {
  list-style: none;
  display: flex;
}

header li {
  padding: 0 1em;
  border-right: 1px solid #eaeaea;
  white-space: nowrap;
  margin: 0;
}

header li:last-of-type {
  border-right: none;
}

a {
  color: #c6ff6d;
}

td, th, .list-row {
  border-color: #e1e1e12e;
}

.list-row {
  display: flex;
  border-bottom: 1px solid #e1e1e12e;
  padding: 1em;
}

.list-row:last-of-type {
  border-bottom: 0;
}

.flex-1 {
  flex: 1;
}

.ml-1 {
  margin-left: 1em;
}
