<h1>
  <%= @entry.title %>
</h1>

<div>
  <span><%= link "Edit", to: Routes.entry_path(@conn, :edit, @entry) %></span> |
  <span><%= link "Back", to: Routes.entry_path(@conn, :index) %></span> |
  <span><%= link "Another", to: Routes.entry_path(@conn, :new) %></span>
</div>

<div class="pre mono">
  <%= @entry.text %>
</div>
